astroid==3.2.2
autopep8==2.1.0
dill==0.3.8
isort==5.13.2
jedi==0.19.1
mccabe==0.7.0
parso==0.8.4
platformdirs==4.2.2
pycodestyle==2.11.1
pylint==3.2.2
PyQt6==6.7.0
PyQt6-QScintilla==2.14.1
PyQt6-Qt6==6.7.0
PyQt6-sip==13.6.0
QScintilla==2.14.1
tomli==2.0.1
tomlkit==0.12.5
typing_extensions==4.12.0
BlurWindow==1.2.1